body {
  background-color: #f6f8fa;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.btn {
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  background-color: #F7F7F7;
  border: 0;
  color: #1f2335;
}

.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #1f2335;
}

.title {
  padding: 2% 0 0 0;
}