/* .navbar-light .navbar-brand {
    color: #fff;
}
.navbar-light .navbar-brand:hover {
    color: #fff;
} */

.form-control {
    background-color: #f6f8fa;
    padding: 0.2rem 0.75rem;
    border: none;
}

.form-control:focus {
    box-shadow: 0;
    border-color: rgb(33,37,41);
}

.navbar-div {
    margin-bottom: 85px;
}

.navbar {
    box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 8px 0px;
}

.navbar-brand {
    font-size: 25px;
    font-weight: 500;
}

.navbar, .dropdown-item {
    font-size: 14px;
    font-weight: 700;
}

.nav-item {
    border-radius: 3px;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: #1f2335;
}

.dropdown-menu-dark .dropdown-item:active {
    background-color: rgba(255,255,255,.20);
}

.dropdown-menu {
    box-shadow: rgba(99, 99, 99, 0.30) 0px 2px 8px 0px;
    width: auto;
    max-height: 500px;
    /* overflow-y: ; */
    overflow-x: hidden;
    border: none;
    padding: 10px 7px 10px 7px;
}

.navbar-dark .navbar-toggler {
    border: 0;
}
.navbar-dark .navbar-toggler:focus {
    box-shadow: none;
}

/* .navbar-light .navbar-toggler:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #1f2335;
} */