.post-card {
    margin: 0% 0% 3% 0%;
}

@media only screen and (max-width: 575px) {
    .post-card {
        margin: 0% 0% 6% 0%;
    }
}

.post-card-header {
    display: flex;
    justify-content: space-between;
}

.btn {
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    background-color: #F7F7F7;
    border: 0;
    color: #1f2335;
}
  
.btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.04);
    color: #1f2335;
}

.btn:focus {
    outline: none;
    box-shadow: none;
    background-color: none;
}

.btn-primary:not(:hover) {
    color: #1f2335;
    background-color: #f6f8fa;
}

.btn-primary:active:focus {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.08);
}

.card {
    border-radius: 0;
}

.post-card.card {
    border-radius: 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-body {
    padding: 0;
}

.post-card-subheader {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 0 1rem;
}

.subtext {
    margin: 5px 0 5px 0;
    font-size: 12px;
    font-weight: 500;
}

.html-body {
    padding: 1rem 1rem;
}

.date-posted {
    color: #888;
    margin: auto 0;
    font-size: 14px;
    font-weight: 400;
}

.html-body h1 {
    font-size: 1.2rem;
    font-weight: 800;
}

.html-body blockquote {
    background-color: rgb(238, 238, 238);
    padding: 14px 14px 1px 14px;
    border-left: 5px solid rgb(87, 83, 107);
}

.post-card-subheader a {
    text-decoration: none;
    color: #1f2335;
}

.post-card-subheader a:hover {
    text-decoration: underline;
    color: #0d6efd;
}